/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
	box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* startje */
	--color-text: #ffffff;
	--color-background: #334D3A;
	--color-background-2: #ffffff;
	--color-footer-p: #334D3A;
	--color-footer-h: #334c3a;
	--color-note: #94A494;
	--color-note-text: #555f55;
	--base-padding: 1.5em 1.5em 3em 1.5em;
	--bottom-padding: .6em;
}

* {
	margin: 0;
	padding: 0;
}

/****************/
/* JOUW STYLING */
/****************/

@font-face {
	font-family: 'open-sans';
	src: url('/fonts/open-sans-v13-latin-regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;

}


body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: 'open-sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

body p {
	font-weight: 300;

}

body h1,
h2 {
	font-family: 'Didot', sans-serif;
}

video {
	width: 100%;
	height: auto;
}

section:nth-of-type(1) {
	color: var(--color-background);
	padding: .9em;
	font-size: .8em;
}

body h1 {
	background-color: var(--color-background-2);
	color: var(--color-background);
	padding: .9em
}

section:nth-of-type(2) {
	padding: 0em 1.5em 8em .8em;
}

section:nth-of-type(2) h2 {
	padding: 1em 0em .8em 0em;
}


section:nth-of-type(3) h2 {
	padding-bottom: .8em;
}

/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
section:nth-of-type(3) {
	position: relative;
	margin: auto;
	padding: 1.5em .8em 8.5em .8em;
}

main button {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: .8em;
	color: var(--color-background);
	background-color: rgba(255, 255, 255, 0.55);
	font-weight: bold;
	font-size: 1em;
	border: none;
}

main button:hover {
	background-color: #ffffff;
}

main button:active {
	color: #2529254f;
}

button:nth-of-type(2) {
	right: .8em;
}

section:nth-of-type(3) ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	overflow: hidden;
}

section:nth-of-type(3) li {
	display: none;
}

section:nth-of-type(3) li img {
	width: 100%;
	height: auto;
}

section:nth-of-type(3) li.active {
	display: block;
}

section:nth-of-type(4) h2 {
	display: none;
}

section:nth-of-type(4) {
	padding: 0em 1em 5em 1em;
}

section:nth-of-type(4) p {
	padding: .7em 0;
}

section p {
	line-height: 1.6em;
}

main a:hover {
	background-color: #3145215f;

}

section:nth-of-type(5) {
	background-color: var(--color-background-2);
	display: grid;
	grid-row-gap: 2em;
	grid-template-columns: 1fr;
	padding: 0em 1em 2em 1em;
}

section:nth-of-type(5) h2 {
	color: var(--color-background);
	padding: 3em 0em 0em 0em;
}

section:nth-of-type(5) img {
	width: 100%;
	height: auto;
}

section:nth-of-type(5) a {
	color: var(--color-background);
	background-color: var(--color-note);
	color: #252925;
	text-decoration: none;
	padding: .6em 2em .6em 2em;
	font-weight: 600;
	font-size: .9em;
}

section:nth-of-type(5) a:hover {
	background-color: #3145215f;

}

section:nth-of-type(6) {
	display: grid;
	grid-row-gap: 1em;
	padding: 5em .8em 0em .8em;
}

section:nth-of-type(6) h2 {
	padding: 0em 0em .5em 0em;
}

article {
	color: var(--color-background);
	background-color: var(--color-background-2);
	padding: 2.9em;
}

article h2 {
	font-size: 1.25em;
}

article p {
	padding-bottom: 2em;
}

article p:nth-of-type(1) {
	font-size: .8em;
	padding-bottom: 1em;
	font-weight: 600;
}

article a {
	background-color: var(--color-note);
	color: #252925;
	text-decoration: none;
	padding: .6em 2em .6em 2em;
	font-weight: 600;
	font-size: .9em;
}

section:nth-of-type(7) {
	text-align: center;
	padding: 17em 1em 0em 0em;
}

section:nth-of-type(7) p {
	padding: 3em;
}

